<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ochangfactory">

    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.OchangFactory"
        android:usesCleartextTraffic="true">
        <activity android:name=".OtpActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Samsung_1_1" />
        <activity android:name=".Samsung_1_2" />
        <activity android:name=".Samsung_1_3" />
        <activity android:name=".Samsung_2_1" />
        <activity android:name=".Samsung_3_1" />
        <activity android:name=".Samsung_3_2" />
        <activity android:name=".Samsung_Main_Acticity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>